
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

/*------------------------------------------------ NAVBAR ----------------------------------------------*/
.navbar-custom {
    background-color: #383838;
    z-index: 99;
}

.navbar-scroll {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 100;
}

.navbar .navbar-nav li a {
    color: #00feb2;
}

.nav-item {
    padding-right: 25px;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 15px;
}

.navbar-brand {
    color:#00feb2;
    font-weight: lighter;
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:hover {
    color: white;
    transition: all 0.35s ease-in-out;
}



/*--------------------------------------------- LANDING PAGE ---------------------------------------- */
.landing-page {
    background: url(../images/turbinewind.jpg) no-repeat top center fixed;
    background-size: cover;
    height: 100vh;
    position: relative;
    display: flex;
    overflow: hidden;
}

.landing-heading {
    color: #00feb2;
    padding: 5px;
    font-family: 'Lato', sans-serif;
    margin-top: 5px;
    margin-right: 5px;
    position: relative;
    left: 30px;
    top: 30px;
}

.landing-paragraph {
    color: white;
    position: relative;
    margin-top: 5px;
    margin-right: 5px;
    left: 40px;
    top: 40px;
    padding: 8px;
    padding-right: 50%;
    font-size: 105%;
    font-family: 'Lato', sans-serif;
}

/*----------------------------------------- SERVICES PAGE ------------------------------------------ */
.services-page {
    background: black;
    background-size: cover;
    height: auto;
    padding-bottom: 25%;
}

.services-heading {
    margin: 15px;
    padding-top: 10%;
    padding-bottom: 5px;
    color: #00feb2;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

/*.services-card {
    width: 350px;
    height: 286px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    border: 1px solid greenyellow;
    padding: 5px;
    margin: 15px;
     
    background-color: rgba(0, 0, 0, 0.25);
    font-family: 'Lato', sans-serif;
}


.flip-card {
    background-color: rgba(0, 0, 0, 0.6);
    perspective: 1000px;
    width: 350px;
    height: 286px;

}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;   
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card-front {
    background: url(../images/service-2.jpg) ;
    
    background-size: cover;
    width: 350px;
    height: 286px;
    
    color: white;    
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-back {
    background: url(../images/turbine-card.jpg);
    color: white;
    transform: rotateY(180deg);
}

.card-img {
    width: 100%;
    object-fit: cover;
}

.card-img-overlay {
    background-color: rgba(0, 0, 0, 0.25);
}*/


/*--------------------------------------------- TECHNOLOGY PAGE ---------------------------------------- */
.technology-page {
    background-color: transparent;
    background-size: cover;
    height: auto;
    padding-bottom: 10%;
}

.technology-heading {
    margin: 15px;
    padding-top: 10%;
    padding-bottom: 5px;
    color: black;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.technology-paragraph {
    text-align: center;
    color: darkgrey;
    margin-bottom: 30px;
    padding-top: 2%;
    font-family: 'Lato', sans-serif;
}

.technology-card {
    width: 350px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    font-family: 'Lato', sans-serif;
    padding: 5px;
    margin: 15px;
    background-color: transparent;
}

/*-- This code came from here: https://stackoverflow.com/questions/37287153/how-to-get-images-in-bootstraps-card-to-be-the-same-height-width */
.card-img-top {
    width: 100%;
    height: 25vh;
    object-fit: cover;
}

.spacing {
    background-color: blueviolet;
    height: 15px;
    width: 100%;
}

/*--------------------------------------------- ABOUT PAGE ---------------------------------------- */
.about-page {
    background-color: black;
    background-size: cover;
    height: auto;
    color: white;
    padding-bottom: 10%;
    font-family: 'Lato', sans-serif;
}

.about-heading {
    text-align: center;
    color: #00feb2;
    margin: 15px;
    padding-top: 10%;
    padding-bottom: 5px;
    font-family: 'Lato', sans-serif;
}

.about-paragraph {
    background-color: black;
    margin: 0;
    padding: 15px 30px 15px 30px;
    font-family: 'Lato', sans-serif;
}

.about-staff {
    background-color: transparent;
    margin: 1px;
    margin-bottom: 5px;
    padding: 15px 30px 15px 30px;
    
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
}

.team-padding {
    padding: 15px 30px 15px 30px;
}

.divider {
    color: #00feb2;
    width: 100%;
    height: 1px;
}

.vert-divider {
    background-color: #00feb2;
    margin: 0;
    padding: 0;
    width: 1px;
}

hr {
    opacity: 1;
}

.team-photo {
    margin: 0;
    border-radius: 50%;
    object-fit: cover;
}

.team-icon {
    margin-right: 5px;
    padding: 5px;
    font-size: 20px;
}

.team-icon:hover {
    color: #00feb2;
    transition: all 0.9s ease-in-out;
}

.team-textbox {
    margin: 5px;
    padding: 5px;
}

/*--------------------------------------------- GET IN TOUCH PAGE ---------------------------------------- */

.contact-page {
    background: url(../images/turbine-long.jpg) no-repeat bottom center fixed;
    background-size: cover;
    height: auto;
    position: relative;
    padding-bottom: 10%;
    font-family: 'Lato', sans-serif;
}

.contact-margin {
    margin: 6px;
}

.contact-card {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px ;
    margin: 15px;
    color: white;
    border-radius: 25px;
    padding: 5%;
    max-width: 526px;

}

.contact-heading {
    margin: 15px;
    padding-top: 10%;
    padding-bottom: 5px;
    color: #00feb2;
    text-align: center;
}

#mapid {
    height: 180px;
}

/*--------------------------------------------- FOOTER ---------------------------------------- */
.footer-page {
    background-color: grey;
    height: 50px;
    color: #00feb2;
}

/*---------------------------------------------- Service card work ---------------------------------------- */

.hover {
    overflow: hidden;
    position: relative;
    padding-bottom: 60%;
    
}

.hover-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    transition: all 0.6s;
}

.hover img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
}

.hover-1 .hover-overlay {
    background: rgba(0, 0, 0, 0.5);
}

.hover-1-title {
    position: absolute;
    font-weight: 100;
    top: 50%;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 99;
    transition: all 0.3s;
}

.hover-1-description {
    width: 100%;
    position: absolute;
    bottom: 0;
    opacity: 0;
    left: 0;
    text-align: center;
    z-index: 99;
    transition: all 0.5s;
}

.hover-1:hover .hover-1-title {
    transform: translateY(-5rem);
}

.hover-1:hover .hover-1-description {
    bottom: 0.5rem;
    opacity: 1;
}

.hover-1:hover .hover-overlay {
    background: rgba(0, 0, 0, 0.9);
}

