
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;700;900&display=swap');


/*------------------------------------------------ NAVBAR ----------------------------------------------*/
.navbar-custom {
    background-color: #383838;
    z-index: 99;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-scroll {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 100;
}

.navbar .navbar-nav li a {
    color: #00feb2;
}

.nav-item {
    padding-right: 20px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
}

.navbar-brand {
    color: #00feb2;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    letter-spacing: 1.25px;
    font-size: 1.4rem;
}

.navbar .navbar-nav li a:hover {
    color: white;
    transition: all 0.35s ease-in-out;
}

.navbar-brand:hover {
    color: white;
    transition: all 0.35s ease-in-out;
}

.navbar-nav li a.active {
    color: white;
}

.logo {
    width: 46px;
    height: auto;
    padding-right: 5px;
    overflow: hidden;
    display: inline;
}

.logo-display {
    display: inline-block;
}

/*-background: url(../images/turbinesunset.jpg) no-repeat top center fixed;*/
/*--------------------------------------------- LANDING PAGE ---------------------------------------- */
.landing-page {
    background: url(../images/turbinesunset.jpg) fixed;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
    position: relative;
    display: flex;
    overflow: hidden;
}

.landing-heading {
    color: #00feb2;
    padding: 5px;
    font-family: 'Lato', sans-serif;
    margin-top: 5px;
    margin-right: 5px;
    position: relative;
    left: 30px;
    top: 25%;
/*-- https://stackoverflow.com/questions/11679567/using-css-for-a-fade-in-effect-on-page-load --*/
 -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.landing-paragraph {
    color: #f6f7f8;
    position: relative;
    margin-top: 5px;
    margin-right: 5px;
    left: 40px;
    top: 25%;
    padding: 8px;
    padding-right: 50%;
    font-size: 1.25rem;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}


/*----------------------------------------- SERVICES PAGE ------------------------------------------ */
.services-page {
    background: black;
    background-size: cover;
    height: auto;
    padding-bottom: 25%;
}

.services-heading {
    margin: 15px;
    padding-top: 10%;
    padding-bottom: 5px;
    color: #00feb2;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.fa-cloud-download-alt {
    color: #00feb2;
}

.fa-cloud-download-alt:hover {
    color: #ffffff;
    transition: all 0.35s ease-in-out;
}

/*.services-card {
    width: 350px;
    height: 286px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    border: 1px solid greenyellow;
    padding: 5px;
    margin: 15px;
     
    background-color: rgba(0, 0, 0, 0.25);
    font-family: 'Lato', sans-serif;
}


.flip-card {
    background-color: rgba(0, 0, 0, 0.6);
    perspective: 1000px;
    width: 350px;
    height: 286px;

}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;   
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card-front {
    background: url(../images/service-2.jpg) ;
    
    background-size: cover;
    width: 350px;
    height: 286px;
    
    color: white;    
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-back {
    background: url(../images/turbine-card.jpg);
    color: white;
    transform: rotateY(180deg);
}

.card-img {
    width: 100%;
    object-fit: cover;
}

.card-img-overlay {
    background-color: rgba(0, 0, 0, 0.25);
}*/


/*--------------------------------------------- TECHNOLOGY PAGE ---------------------------------------- */
.technology-page {
    background-color: transparent;
    background-size: cover;
    height: auto;
    padding-bottom: 10%;
}

.technology-heading {
    margin: 15px;
    padding-top: 10%;
    padding-bottom: 5px;
    color: black;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.technology-paragraph {
    text-align: center;
    color: darkgrey;
    margin-bottom: 30px;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Lato', sans-serif;
}

.technology-card {
    width: 350px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    font-family: 'Lato', sans-serif;
    padding: 5px;
    margin: 15px;
    background-color: transparent;
}

/*-- This code came from here: https://stackoverflow.com/questions/37287153/how-to-get-images-in-bootstraps-card-to-be-the-same-height-width */
.card-img-top {
    width: 100%;
    height: 25vh;
    object-fit: cover;
}

.spacing {
    background-color: blueviolet;
    height: 15px;
    width: 100%;
}

/*--------------------------------------------- ABOUT PAGE ---------------------------------------- */
.about-page {
    background-color: black;
    background-size: cover;
    height: auto;
    color: white;
    padding-bottom: 10%;
    font-family: 'Lato', sans-serif;
}

.about-heading {
    text-align: center;
    color: #00feb2;
    margin: 15px;
    padding-top: 10%;
    padding-bottom: 5px;
    font-family: 'Lato', sans-serif;
}

.about-paragraph {
    background-color: black;
    margin: 0;
    padding: 15px 30px 15px 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 125%;
}

.about-staff {
    background-color: transparent;
    margin: 1px;
    margin-bottom: 5px;
    padding: 15px 30px 15px 30px;
    
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
}

.team-padding {
    padding: 15px 30px 15px 30px;
}

.divider {
    color: #00feb2;
    width: 100%;
    height: 1px;
}

.vert-divider {
    background-color: #00feb2;
    margin-top: 7%;
    padding: 0;
    width: 1px;
}

hr {
    opacity: 1;
}

.team-photo {
    margin: 0;
    border-radius: 50%;
    object-fit: cover;
}

.team-icon {
    color: white;
    margin-right: 5px;
    padding: 5px;
    font-size: 20px;
}

.team-icon:hover {
    color: #00feb2;
    transition: all 0.9s ease-in-out;
}

.team-textbox {
    margin: 5px;
    padding: 5px;
}

/*--------------------------------------------- GET IN TOUCH PAGE ---------------------------------------- */

.contact-page {
    background: url(../images/turbinedark.jpg) no-repeat bottom center fixed;
    background-size: cover;
    height: auto;
    position: relative;
    padding-bottom: 10%;
    font-family: 'Lato', sans-serif;
}

.contact-overlay {
    background: rgba(0, 0, 0, 0.35);
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.contact-margin {
    margin: 6px;
}

.contact-card {
    background-color: rgba(156, 156, 156, 0.67);
    border: 1px ;
    margin: 15px;
    color: white;
    border-radius: 25px;
    padding: 5%;
    max-width: 526px;
    font-weight: 200;
    z-index: 1;
}

.contact-heading {
    margin: 15px;
    padding-top: 10%;
    padding-bottom: 5px;
    color: #00feb2;
    text-align: center;
    z-index: 1;
}

.form-select {
    background-color: rgba(255, 255, 255, 0.59);
    color: black;
    font-weight: 300;
}

.form-control {
    background-color: rgba(255, 255, 255, 0.59);
    color: black;
}

/*--https://stackoverflow.com/questions/51299051/placeholder-color-change-in-bootstrap--*/
.form-control::placeholder { 
            color: black;
            opacity: 1; 
            font-weight: 300;
}

#mapid {
    height: 180px;
    padding: 15px;
    margin-bottom: 15px;
}

.button {
    text-align: center;
}

.btn-primary {
    background-color: #00feb2;
    color: #383838;
    border: none;
}

.btn-primary:hover {
    color: #00feb2;
    background-color: #383838;
    transition: all 0.35s ease-in-out;
}

/*--------------------------------------------- FOOTER ---------------------------------------- */
.footer-page {
    background-color: #383838;
    height: 50px;
    color: #00feb2;
    height: auto;
}

.footer-col {
    display: inline;
    text-align: center;
    padding: 2%;
}

.footer-icon {
    color: #00feb2;
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 20px;
}

.footer-icon:hover {
    color: #ffffff;
    transition: all 0.9s ease-in-out;
}

/*---------------------------------------------- Service card work ---------------------------------------- */

.hover {
    overflow: hidden;
    position: relative;
    padding-bottom: 60%;
    
}

.hover-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    transition: all 0.6s;
}

.hover img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
}

.hover-img {
    width: 100%;
    object-fit: cover;
}

.hover-1 .hover-overlay {
    background: rgba(0, 0, 0, 0.5);
}

.hover-1-title {
    position: absolute;
    font-weight: 200;
    top: 50%;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 99;
    transition: all 0.3s;
}

.hover-1-description {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: 1.25rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    opacity: 0;
    left: 0;
    text-align: justify;
    z-index: 99;
    transition: all 0.5s;
    padding-right: 2rem;
}

.hover-1:hover .hover-1-title {
    transform: translateY(-6rem);
}

.hover-1:hover .hover-1-description {
    bottom: 0.5rem;
    opacity: 1;
}

.hover-1:hover .hover-overlay {
    background: rgba(0, 0, 0, 0.9);
}

.service-up-arrow {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.5s;
    z-index: 99;
    opacity: 1;
    color: #00feb2;
}

.hover-1:hover .service-up-arrow {
    opacity: 0;
    bottom: 5rem;
    color: #383838;
}


/*--------------------- Bounce icon -------------------*/
.arrow-down {
    margin-bottom: 50px;
    text-align: center;
    font-weight: lighter;
}

.scroll-info {
    color: #00feb2;
    padding-top: 0;
    text-align: center;
   
}

/*--- https://gist.github.com/gubi/8483199 ---*/
.fa-bounce {
    color: #00feb2;
    display: inline-block;
    position: relative;
    -moz-animation: bounce 1s infinite linear;
    -o-animation: bounce 1s infinite linear;
    -webkit-animation: bounce 1s infinite linear;
    animation: bounce 1s infinite linear;
}

@-webkit-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}

@-moz-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-o-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-ms-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}

/*--- https://gist.github.com/gubi/8483199 ---*/
.fa-pulses {
	display: inline-block;
	-moz-animation: pulse 2s infinite linear;
	-o-animation: pulse 2s infinite linear;
	-webkit-animation: pulse 2s infinite linear;
	animation: pulse 2s infinite linear;
}

@-webkit-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@-moz-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@-o-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@-ms-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

/*------- MEDIA BREAKPOINTS -----------*/

@media screen and (max-width: 1400px) {
    .landing-heading {
        
    }
    .landing-paragraph {
        
    }
   
    .hover-1-description {
        font-size: 1rem;
    }

}


@media screen and (max-width: 992px) {
    .landing-heading {
        text-align: center;
        top: 5%;
        left: 0;
        margin: 0;
    }
    .landing-paragraph {
        top: 5%;
        text-align: center;
        padding: 5px;
        margin: 5px;
        left: 0;
        right: 0;
        width: 100%;
        justify-content: center;
    }
    .hover-1-description {
        font-size: 1.25rem;
    }}

@media screen and (max-width: 576px) {
    .landing-heading {
        top: 5%;
        text-align: center;
        left: 0;
        margin: 0;
    }
    .landing-paragraph {
        top: 5%;
        text-align: center;
        padding: 5px;
        margin: 5px;
        font-size: 95%;
        left: 0;
        right: 0;
        width: 100%;
        justify-content: center;
    }
    .hover-1-description {
        font-size: 1rem;
    }}

@media screen and (max-width: 360px) {
    .hover-1-description {
        font-size: 0.75rem;
    }}

@media screen and (max-width: 320px) {
    .hover-1-title {
        font-size: 1.5rem;
    }
    .hover-1:hover .hover-1-title {
    transform: translateY(-4rem);
}
    .hover-1-description {
        font-size: 0.75rem;
    }}